<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249734174436-sjvla0fk9tb5b7icug3thleahqbvtgct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249734174436-sjvla0fk9tb5b7icug3thleahqbvtgct</string>
	<key>API_KEY</key>
	<string>AIzaSyCm3uUAErvPG35FZ0xMVG-yCVI_3-82Vhw</string>
	<key>GCM_SENDER_ID</key>
	<string>249734174436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gymWorkout.rodrigo.com</string>
	<key>PROJECT_ID</key>
	<string>workout-29da5</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-29da5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249734174436:ios:3c3718e533ff2b910f7ef1</string>
</dict>
</plist>